@font-face {
    font-family: "RobotoSlab";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf) format("truetype");
}

img, p, #goals-list{
    opacity: 0;
    animation: fadeInAnimation ease 2500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:  var(--white-200);
}

body {
    background-color: var(--white-200);
       
    margin: 0.5vh 0 0.5vh;
    min-height: 100%;
    min-width:100%;
    position:absolute;
}

main{
    text-align: center;
}

nav > a{
    margin-right: 5vw;
    border-radius: 0.2rem;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color:var(--green-100);
    text-align: start;
}

nav>a:hover{
    text-decoration: underline;
}

a {
    font-family: "Roboto", sans-serif, Arial;
    color: var(--gray-200);
    text-align: start;
}

h1 {
    font-family: "Signika", sans-serif, Arial;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
    text-align: start;
}

h2 {
    font-size: 3rem;
    color: black;
    font-family: "Roboto", sans-serif, Arial;
}

p{
    font-family: "RobotoSlab", sans-serif, Arial;
    font-size: large;
    text-align: start;
}

#about-me {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding-top: 3rem;
    padding-right: 8rem;
    padding-bottom: 3rem;
    padding-left: 8rem;
}

ul {
    display: inline-flex;
    list-style-type: none;
}

li{
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: "RobotoSlab", sans-serif, Arial;
    text-align: start;
}

picture { 
    max-width:100%;
    max-height: 100%;
    text-align: center;
}

img {
    max-width: 40vw;
    max-height: 70vh;
    text-align: center; 
    border-radius: 0.5rem;
}

.social-img {
    width: 4vmin;
    height: 4vmin;
    padding: 2vmin 1vmin 2vmin 1vmin;
}

footer{
    margin-left: 1rem;
}