html{
    background-color: white;
}

@font-face {
    font-family: "Signika";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Signika/static/Signika-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Signika";
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/Signika/static/Signika-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/Roboto/Roboto-BlackItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

img, table, p{
    animation: fadeInAnimation ease 2500ms;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(240, 240, 247);
}
body {
    background-color: rgb(240, 240, 247);
    min-height: 100vh;
    width:100%;
   
    margin: 0.5vh 0 0.5vh;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    text-align: center;
}

section {
    width: 100%;
}

#projects-container{
    margin: 1vw 5vw 1vw 5vw;
}

nav > a{
    margin-right: 5vw;
    border-radius: 0.2rem;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color:#527d8d;
    text-align: start;
}

a:hover{
    text-decoration: underline;
}

a {
    font-family: "Roboto";
    color: #7a7b7e;
    font-weight: bold;
    text-decoration: none;
    text-align: start;
}

h1 {
    font-family: "Signika", sans-serif, Arial;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
    text-align: start;
}

h2 {
    font-size: 3rem;
    color: black;
    font-family: "Roboto", sans-serif, Arial;

}

h3 {
    font-size: 2rem;
    color: black;
    font-family: "Roboto", sans-serif, Arial;
}

p{
    padding: 5rem 5rem 5rem 5rem;
    text-align: start;
    color: black;
    font-family: "RobotoSlab", sans-serif, Arial;
    font-size: large;
}

.proj-text{
    padding: 1rem 1rem 1rem 1rem;
}

.project-menu{
    font-family: "RobotoSlab", sans-serif, Arial;
    font-size: medium;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

details, figcaption {
    font-family: "RobotoSlab", sans-serif, Arial;
    font-size: medium;
    text-align: start;
}

table,td, tr, th  {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    padding: 5vw 5vw 5vw 3vw;
}
table, th{
    padding-top: 1vw;
    border: 0 solid rgb(240, 240, 247);
}

td {
    width: 60vw;
}

th{
    border-collapse: collapse;
}

#project-1-text{
    border-top-left-radius: 0.5rem;
    width: 30vw;
}

#project-1-img{
    border-top-right-radius: 0.5rem;
}

#project-2-text{
    border-bottom-left-radius: 0.5rem;
    width: 30vw;

}

#project-2-vid{
    border-bottom-right-radius: 0.5rem;
}

hr {
    /* max-width: 70%;
    border-top: 0.5rem solid #7a7b7e;
    margin-top: 5rem;
    margin-bottom:5rem; */
}

figure, img, source, video {
    min-width: 5%;
    max-width: 60%;
    border-radius: 0.5rem;
}

#project-img{
    padding-left: 2vw;
}

select, #curr-proj-button > input{
    background-color: #527d8d;
    color:white;
    border: none;
    width: 10vw;
    height: 3vw;
    font-family: "Roboto", sans-serif, Arial;
    text-align: start;
    border-radius: 0.2rem;
    margin: 1vw 2vw 1vw 2vw;
}

label {
    padding: 2rem 2rem 2rem 2rem;
    font-family: "RobotoSlab", sans-serif, Arial;
    font-size: large;
    text-align: start;
}

.social-img {
    min-width: 4vmin;
    min-height: 4vmin;
    max-width: 4vmin;
    max-height: 4vmin;
    padding: 2vmin 1vmin 2vmin 1vmin;
}

footer{
    margin-left: 1rem;
}