@font-face {
    font-family: "RobotoSlab";
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf) format("truetype");
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    text-align: center;
}

section {
    width: 100%;
}

#projects-container{
    margin: 1vw 5vw 1vw 5vw;
}

nav > a{
    margin-right: 5vw;
    border-radius: 0.2rem;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color:var(--green-100);
    text-align: start;
}

a:hover{
    text-decoration: underline;
}

a {
    font-family: "Roboto";
    color: var(--gray--200);
    font-weight: bold;
    text-align: start;
}

h1 {
    font-family: "Signika", sans-serif, Arial;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
    text-align: start;
}

h2 {
    font-size: 3rem;
    color: black;
    font-family: "Roboto", sans-serif, Arial;

}

h3 {
    font-size: 2rem;
    color: black;
    font-family: "Roboto", sans-serif, Arial;
}

p{
    margin: 5rem 8rem 5rem 8rem;
    text-align: start;
    color: black;
    font-family: "RobotoSlab", sans-serif, Arial;
    font-size: large;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li{
    font-family: "RobotoSlab", sans-serif, Arial;  
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
}

details, #share-quote{
    font-family: "RobotoSlab", sans-serif, Arial;
    font-size: medium;
    text-align: center;
}

textarea{
    border-color: var(--gray--200);
    border-radius: 0.2rem;
}

.social-img {
    min-width: 4vmin;
    min-height: 4vmin;
    max-width: 4vmin;
    max-height: 4vmin;
    padding: 2vmin 1vmin 2vmin 1vmin;
}

footer{
    margin-left: 1rem;
}